@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}

body {
    color: rgba(255, 255, 255, 0.8);
}

.ASCI_Unicode {
    background-color: black;
    background-image: url(img/Raee.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Formati_imagini {
    background-color: black;
    background-image: url(img/Raee.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Formati_audio_video {
    background-color: black;
    background-image: url(img/Raee.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    margin: 0px auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 60px;
}
.item {
    display: inline-block;
}
.navbar .item a {
    display: inherit;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
    text-align: center;
}

.navbar .item .curent {
    display: block;
    height: 2px;
    background-color: white;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

main section {
    font-size: 20px;
    line-height: 25px;
    margin-left: 12%;
    margin-right: 12%;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 4%;
    text-align: justify;
    /* text-align: center; */
    /* text-align: initial; */
}

b {
    font-weight: bolder; 
    text-decoration: underline;
}

main section .line_space_bottom {
    margin-bottom: 6px;
}

main section h2 {
    text-align: center;
    /* font-size: 19px; */
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.item_img {
    display: inline-block;
    width: 49%;
}

.item_img img {
    height: 350px;
}

.item_img h3 {
    text-align: center;
    font-size: 18px;
}

.Image {
    width: 100%;
}

.Thirst {
    margin-right: 1.3%;
}


.container_lossy_lossless {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    margin: 0 auto;
    
}

.item_lossy_lossless {
    display: inline-block;
    width: 49%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    vertical-align: top;
    padding: 1%;
    /* margin: 0 auto; */
}

.item_lossy_lossless p {
    height: 189px;
}

.audio_container {
    display: flex; /*per alliniare*/
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    margin-top: 2%;
    
}


.comment {
    text-align: center;
    font-size: 14px;
    
}

audio{
   width: 25vw;
}

footer {
    display: flex; /*per alliniare*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100px;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
}

a {
    color: white;
}